#layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    align-content: ;
    justify-content: space-around;
    gap: 5px 15px;
}

.oculto {
    display: none;
}

.episodios {
    background-color: yellowgreen;
}

.episodio {
    background-color: orange;
}